<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% unless @employees_subject.empty? %>
  <% unless  @employees_subject[0].subject.elective_group_id.nil?  %>
    <%  @employees_subject[0].employee.first_name  = @employees_subject[0].subject.elective_group.name + " Employees" %>
    <%emp_sub_ids=@employees_subject.collect(&:id)%>
    <%emp_sub_ids= emp_sub_ids.join("_") %>
    <div id="employees">
      <div class="information_text"><span><%=t('drag_drop_info')%></span></div>
      <div class="employees_subject" id="emp_sub_<%= emp_sub_ids %>"><div class="tick_plus selectable"></div> <%=  @employees_subject[0].employee.first_name.to_s if @employees_subject[0].employee.present?%> </div>
      <%= draggable_element("emp_sub_#{emp_sub_ids}", :revert => true) %>
    </div>
  <%  else %>
    <div id="employees">
      <div class="information_text"><span><%=t('drag_drop_info')%></span></div>
      <% @employees_subject.each do |e| %>
        <div class="employees_subject" id="emp_sub_<%= e.id %>"><div class="tick_plus selectable"></div> <%= e.employee.first_name if e.employee.present?%> </div>
        <%= draggable_element("emp_sub_#{e.id}", :revert => true) %>
      <% end %>
    </div>
  <% end %>
  <div class="assign_button"><%=t('assign_text')%></div>
<% else %>
  <h5><%= t('no_teacher_associated') %></h5>
<% end %>

<script type="text/javascript">
  j('.employees_subject').each(function(){
    j(this).click(function(){
      if(j(this).children('.tick_plus').hasClass('selectable')){
        j('.tick_plus').removeClass('selected').addClass('selectable');
        j(this).children().first().removeClass('selectable').addClass('selected');
      }
      else{
        j('.tick_plus').removeClass('selected').addClass('selectable')
      }
     
    });
  });
  j('.assign_button').click(function(){
    if(selected_divs.length==0){
      alert('<%=t('select_atleast_one_time_slot')%>');
      return false;
    }
    else{
      make_other_ajax_calls(j('.selected').parent().attr('id').split('_').reverse().splice(0,j('.selected').parent().attr('id').split('_').length-2));
    }
  });
  
</script>
