<%@hash.each do |key,value| %>
  <ul>
    <li><%= value[:day] %> </li>
    <li><%= value[:class_timing] %> </li>
    <li><%= value[:batch] %></li>
    <li><%= value[:subject] %> </li>
    <li><%= value[:employee] %></li>
  </ul>
<% end %>
