
<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<%# @javascript_for_page = ['attendance','date'] %>
<%  content_for :head do%>
  <% if @config.config_value == 'Daily' %>
    <%= javascript_include_tag 'attendance', 'date' %>
  <% else %>
    <%= javascript_include_tag 'subject_leave', 'date' %>
  <% end %>
<%  end %>
<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('attendance_register') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>Attendance Report</div>


</div>
<div id="page-yield">
  <div class="bread_crumb">
    <a href="/user/dashboard">Home</a> 
    <div class="bread-crumb-separator"> &gt; </div> 
    <a href="/student_attendance">Attendance</a> 
    <div class="bread-crumb-separator"> &gt; </div> 
    IN OUT Attendance
  </div>
  <div class="label-field-pair">
    <% form_remote_for(:advance_search, :url => 'get_in_out_attendance_report', :remote=> true) do |f| %>
      <div id="error" style="color: red;"></div>
      <div class="label-field-pair">
        <label for="student_course"><%= t('select_a_batch') %>:</label>
        <div  class="text-input-bg">
          <%= f.select :batch_id, @batches.map{|b| [b.full_name, b.id]},:prompt=> "Select Batch" %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_course">Select Month:</label>
        <div  class="text-input-bg">
          <%= f.select :date, @dates.map{|d| d},:prompt=> "Select Month" %>
        </div>
      </div>

      <div class="label-field-pair">
        <label for="student_course"></label>
        <div  class="submit_btn">
          <%= submit_tag "", :value => "► View", :class => "submit_button", :id => 'submit_button' %>
        </div>
      </div>


    <% end %>
  </div>
  <%= hidden_field_tag 'time_zone_date',@date_today, :id=>'time_zone' %>
</div>

<div class="pdf_report_div none" style="text-align: right;margin-top: 125px;">
</div>
<div id="student_register"></div>


<script type="text/javascript">
  j('#submit_button').click(function(event){
    j("#student_register").html("")
    j("#error").html("")
    j("#student_register").append("<div align='center' style='margin-top: 100px;''><img src='/images/loading.gif'></div>");
  });
</script>




<style>
  .none{
    display: none;
  }
  .pdf_report_btn{
    margin-top: 30px;
    padding: 7px 10px;
    color: #fff;
    background: #27292B;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    font-family: arial;
    cursor: pointer;
    height: 30px;
  }
  #submit_button {
      margin-top: 30px;
      padding: 7px 10px;
      color: #fff;
      background: #27292B;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      font-weight: bold;
      font-size: 14px;
      border: none;
      font-family: arial;
      cursor: pointer;
      height: 30px;
      width: 85px;
  }
  #register{
      background: #C3D9FF;
      -moz-border-radius:8px;
      -webkit-border-radius:8px;
      margin-top:25px;
      margin-bottom:50px;
  }
  .quick-attendance-div{
      margin-top:-20px;
      float:right;
      width:272px;
  }
  .attendance-label{
      font-size:13px;
      font-weight:bold;
      margin-left:5px;
      float:right;
      cursor:pointer;
  }
  #quick-attendance-check{
      margin-top:1px;
      float:right;
      cursor:pointer;
      /*    margin-left:0;*/
  }
  .box-1{
      margin-left: 8px;
      overflow-x: auto;
      padding: 16px;
      width: 921px;
  }
  .box-2{
      height:400px;
      /*overflow:auto;*/
      width: 965px;
  }
  .header{
      width:420px;
      margin:0px auto;
      margin-bottom:20px;
      padding-top:15px;
  }
  .next a{
      float:left;
      -moz-border-radius:40px;
      -webkit-border-radius:40px;
      width:25px;
      height:25px;
      padding:5px;
      background: #fff;
      text-align:right;
      color:#121212;
      font-size:22px;
      text-decoration:none;
      outline:none;
      display:block;
  }
  .prev a{
      float:left;
      -moz-border-radius:40px;
      -webkit-border-radius:40px;
      width:25px;
      height:25px;
      padding:5px;
      background: #fff;
      text-align:left;
      color:#121212;
      font-size:22px;
      text-decoration:none;
      outline:none;
      display:block;
  }
  .next a:hover, .prev a:hover{
      color: #9B0C12;
  }
  .month{
      -moz-border-radius:8px;
      -webkit-border-radius:8px;
      width:300px;
      background: #fff;
      padding:5px 0 5px 0;
      text-align:center;
      float:left;
      font-size:20px;
      color:#121212;
      font-weight:bold;
      margin:0 20px 0 20px;
  }
  table#attendance{

  }
  .tr-odd{
      background: #fff;
      padding:5px;
  }
  .tr-even{
      background: #f1f6ff;
      padding:5px;
  }
  .tr-head{
      color:#990A10;
      height: 40px;
  }
  .td-mark{
      min-width:20px;
      /*    width: auto;*/
      width: 900px;
      text-align:center;


  }
  .td-name{
      padding:5px;
      color:#2D2D2D;
      /*    padding-left:23px;*/
      font-weight:bold;
      width:58px;
      font-size:12px;
      height:25px;
      /*    cursor:pointer;*/
  }
  .head-td-name{
      background: #fff;
      padding-left:5px;
      padding-right:5px;
      font-weight:bold;
      font-size:13px;
      overflow:hidden;
      width:67px;
      text-align:center;
  }
  .head-td-date{
      font-size:11px;
      background: #f1f6ff;
      font-weight:bold;
      min-width:20px;
      width:auto;
      text-align: center;

  }
  .head-td-date .day{
      text-align:center;
      min-width:20px;
      padding:0px 1px;
  }
  .head-td-date .date{
      background: #fff;
      padding:2px;
      text-align:center;
      color:#2D2D2D;
  }
  .td-mark a.absent{
      text-decoration: none;
      font-size:12px;
      font-weight:bold;
  }
  .tr-odd .td-mark a.present{
      color:#fff;
      padding:5px;
  }
  .tr-even .td-mark a.present{
      color:#f1f6ff;
      padding:5px;
  }
  table.table{

  }
  .td-mark .date{
      position: relative;
      left: -172px;
      top: -73px;
  }
  .td-name .date{
      position: relative;
      left: -77px;
      top: -73px;
  }
  .td-mark .date span,.td-name .date span{
      display: none;
      margin-left: 145px;
      margin-top: 80px;
      word-wrap: break-word;
      width: 100px;
  }
  .td-mark:hover .date span{
      display: block;
      position: absolute;
      min-width: 100px;
      background-color: #fff;
      border:4px solid #c3d9ff;
      min-height: 40px;
      left: -90px;
      top: -78px;
      padding: 5px;
      -moz-border-radius:8px;
      -webkit-border-radius:8px;
      padding-top:10px;
      font-weight:bold;
  }
  .active{
      background: #FEFFAF !important;
  }
  .tr-even .active a.present, .tr-odd .active a.present{
      color:#FEFFAF;
  }
  .td-mark:hover .date span div{
      color:#000;
  }
  .td-mark:hover,.td-mark:hover a.present{
      background:#C3D9FF;
      /*    color:#C3D9FF;*/
  }
  .td-name:hover .date span{
      display: block;
      position: absolute;
      min-width: 89px;
      background-color: #fff;
      border:4px solid #c3d9ff;
      min-height: 40px;
      left: 50px;
      top: -10px;
      color: #FFFFFF;
      padding: 5px;
      -moz-border-radius:8px;
      -webkit-border-radius:8px;
      padding-top:10px;
      color:#990A10;
      font-weight:bold;
  }

  #MB_frame .submit-button {
      -moz-border-radius:8px 8px 8px 8px;
      -webkit-border-radius:8px 8px 8px 8px;
      background:none repeat scroll 0 0 #27292B;
      border:medium none;
      color:#FFFFFF;
      cursor:pointer;
      float:left;
      font-size:14px;
      font-weight:bold;
      margin:0 0 0 210px;
      padding:6px 8px;
  }

  a {
      cursor: pointer;
  }
  .holiday {
      background-color: #eee;
  }
  .nohover:hover{
      background:#eee;
  }
  .helper_info
  {
      width: 250px;
      padding:10px;
      /*    top: 30%;*/
      z-index: 8;
      position: absolute;
      background: #FFFFFF;
      border: 1px solid #B2B2B2;
      pointer-events: none;
      color: #27292b;
      text-align: left;
      font-size: 13px;
      margin-top:25px;
  }
  .helper_info:after, .helper_info:before
  {
      bottom: 100%;
      left: 88%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
  }

  .helper_info:after
  {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #FFFFFF;
      border-width: 10px;
      margin-left: -10px;
  }
  .helper_info:before
  {
      border-color: rgba(178, 178, 178, 0);
      border-bottom-color: #B2B2B2;
      border-width: 11px;
      margin-left: -11px;
  }
  .info_wrapper:hover{
      /*    opacity: 1;*/
      color: #27292b;
  }

  .info_wrapper:hover .helper_info {
      /*    opacity: 1;*/
  }

  .flash_msg{
      padding: 5px;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
  }
  .head-td-date .in{
    padding: 10px 5px 10px 5px;
    min-height: 8px;
    min-width: 22px;
  }
  .head-td-date .out{
    padding: 10px 5px 10px 5px;
    min-height: 10px;
  }
  .sat_or_sun {
    background-color: #eee !important;
  }
  .daily_att{
    min-height: 23px;
    margin-top: 9px;
  }
  .late_in_class{
    background-color: yellow;
  }
</style>