<% late_in_count = 0 %>
<% late_out_count = 0 %>
<table id="listing" align="center" width="90%">
  <tbody>
    <tr>
      <td class="align-center" colspan="4" rowspan="2"><h1>IN/OUT Report</h1></td>
      <td><%= @employee.full_name %></td>
      <td><%= @employee.employee_number %></td>
    </tr>
    <tr>
      <td><%= @employee.employee_department.name %></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>Selected Month</td>
      <td><%= @start_date.strftime("%d/%M/%Y") %></td>
      <td></td>
      <td>Reporting Time</td>
      <td><%= @employee.reporting_in_time %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Departure Time</td>
      <td><%= @employee.reporting_out_time %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>.</td>
    </tr>

    <tr class="tr-head">
      <td></td>
      <td><b>IN</b></td>
      <td><b>OUT</b></td>
      <td><b>Late IN</b></td>
      <td><b>Early OUT</b></td>
      <td><b>Total Hours</b></td>
    </tr>
    <tr class="blank"></tr>
    <% start_date = @start_date %>
    <% (@start_date.day..30).to_a.each_with_index do |day, i| %>
      <% in_time = @employee.student_attendances.find(:all, :conditions => {:in_time => (start_date..(start_date.end_of_day)) }).first %>
      <% out_time = @employee.student_attendances.find(:all, :conditions => {:out_time => (start_date..(start_date.end_of_day)) }).first %>
      <%  
        late_in = false 
        reporting_in_time = ("#{in_time.in_time.to_date} " + @employee.reporting_in_time).to_datetime rescue nil
        late_in = (in_time.in_time > reporting_in_time) rescue false
        late_in_count += 1 if (late_in == true)
      %>

      <%
        early_out = false
        reporting_out_time = ("#{out_time.out_time.to_date} " + @employee.reporting_out_time).to_datetime rescue nil
        early_out = (out_time.out_time < reporting_out_time) rescue false
        late_out_count += 1 if (early_out == true)
      %>
      <tr class=<%= i.odd? ? "tr-even" : "tr-odd" %>>
        <td class="align-center"><%= start_date.strftime("%a %d") %></td>
        <td class="align-center <%="late" if late_in %>">
          <%= in_time.in_time.strftime("%H:%M:%S") if in_time.present? %>
        </td>
        <td class="align-center <%="late" if early_out %>">
          <%= out_time.out_time.strftime("%H:%M:%S") if out_time.present? %>
        </td>
        <td class="align-center"><%= "Yes" if late_in %></td>
        <td  class="align-center"><%= "Yes" if early_out %></td>
        <td class="align-right">
          <% time = ((out_time.out_time - in_time.in_time) ) rescue nil %>
          <%= (Time.at time ).utc.strftime("%H:%M:%S") rescue nil %>
        </td>
      </tr>
      <% start_date = start_date + 1.day %>
    <% end %>
    <tr <tr class="tr-even">
      <td class="align-center"><b>Total</b></td>
      <td></td>
      <td></td>
      <td class="align-center"><%= late_in_count %></td>
      <td class="align-center"><%= late_out_count %></td>
      <td></td>
    </tr>
  </tbody>
</table>

<style>
  
  .center{
    text-align: center;
  }
  .right{
    text-align: right;
  }
  table {
    text-align: center;
    border-collapse: collapse;
  }
  
  td {
    border: 1px solid black;
    padding:  4px 4px 4px 4px;
    /*font-size: smaller;*/
  }
  td {
    /*padding:  4px 4px 4px 4px;*/
  }
  .fee  td:nth-child(1) { 
    width: 200px;
  }
  .fee  td:nth-child(2) { 
    width: 84px;
  }
  .head-padding{
    padding: 10px 0 10px 0;
  }
  div{
    min-height: 22px;
  }
  td {
    font-size: 18px;
  }
  .late{
    background: yellow;
  }
  .align-center{
    text-align: center;
  }
</style>