<div id="page-yield" class="available_sections">
  <div class="section" >
    <center>
      <div class="hor_line"></div>
      <h2>Subject Wise Report</h2>
      <div class="hor_line"></div>
    </center>
  </div>
  <center>
    <div class="section">
      <div class="info">
        <div class="info-left">
          <div class="info1">
            <label class="field-label">Batch</label>: <label class="infolbl"> <%= @batch.full_name %></label>
          </div>
          <div class="info1">
            <label class="field-label">Subject</label>: <label class="infolbl"> <%= @subject.name %></label>
          </div>
          <div class="info1">
            <label class="field-label">Gender</label>: <label class="infolbl"> <%= params[:gender].present?? params[:gender]=="m" ? "Male" : "Female" : "All"%></label>
          </div>
        </div>
        <div class="info-right">
          <div class="info1">
            <label class="field-label">Exam Group</label>: <label class="infolbl"> <%=  @exam_groups.map(&:name).join(",") if @exam_groups.present?%></label>
          </div>
          <div class="info1">
            <label class="field-label">Student Category</label>: <label class="infolbl"> <%= @student_category.present? ? @student_category.name : "All"%></label>
          </div>
          <div class="info1">
            <label class="field-label">Report type</label>: <label class="infolbl"> <%=  @report_type.gsub("_", " ").camelize%></label>
          </div>
        </div>
      </div>
    </div>
  </center>


  <center>
    <div class="section">
      <table id="pdf-table" width="100%">
        <tr class="table-header">
          <td class="name-td"></td>
          <% @exam_groups.each do |eg| %>
            <% if @ia_indicators[eg.icse_exam_category_id.to_i].present? %>
              <% count=0 %>
              <%  count=@ia_indicators[eg.icse_exam_category_id.to_i].count %>
            <% end %>
            <td class="name-td" colspan="<%=@report_type=="detailed_internal_mark"? count+1 : count+3%>"><%= eg.name %></td>
          <% end %>
        </tr>
        <tr class="table-header">
          <td class="name-td">Students</td>
          <% @exam_groups.each_with_index do |eg,i| %>
            <% if @report_type=="detailed_internal_and_external_mark" %>
              <% if @ia_indicators[eg.icse_exam_category_id.to_i].present? %>
                <% @ia_indicators[eg.icse_exam_category_id.to_i].each do |indicator| %>
                  <td class="mark-td"><%= "#{indicator.name}(#{indicator.max_mark})"%></td>
                <% end %>
              <% end %>
              <td class="mark-td"><%= "IA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ia_weightage"] : "-"})" %></td>
              <td class="mark-td"><%= "EA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ea_weightage"] : "-"})" %></td>
              <td class="mark-td"><%= "IA+EA (100)" %></td>
            <% elsif @report_type=="detailed_internal_mark" %>
              <% if @ia_indicators[eg.icse_exam_category_id.to_i].present? %>
                <% @ia_indicators[eg.icse_exam_category_id.to_i].each do |indicator| %>
                  <td class="mark-td"><%= "#{indicator.name}(#{indicator.max_mark})"%></td>
                <% end %>
              <% end %>
              <td class="mark-td"><%= "IA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ia_weightage"] : "-"})" %></td>
            <% end %>
          <% end %>
        </tr>
      </table>
    </div>
  </center>

  <% @students.each_with_index do |student,i| %>
    <center>
      <div class="section">
        <table id="pdf-table" width="100%">
          <tr class="<%= cycle('odd', 'even') %>">
            <% student_text = "#{student.full_name}(#{student.admission_no})" %>
            <% if roll_number_enabled? %>
              <%  student_text = (student.roll_number.present? ? "#{student.roll_number} -" : '') + "#{student.full_name}" %>
            <% end %>
            <td class="name-td"><%= student_text %></td>
            <% @exam_groups.each do |eg| %>
              <% if @report_type=="detailed_internal_and_external_mark" %>
                <% if @ia_indicators[eg.icse_exam_category_id.to_i].present? %>
                  <% @ia_indicators[eg.icse_exam_category_id.to_i].each do |indicator| %>
                    <td class="mark-td"><%= @ia_score_hash[student.id.to_i].present?? @ia_score_hash[student.id.to_i][eg.icse_exam_category_id.to_s].present?? @ia_score_hash[student.id.to_i][eg.icse_exam_category_id.to_s][indicator.id].present?? @ia_score_hash[student.id.to_i][eg.icse_exam_category_id.to_s][indicator.id]["mark"] : "-" : "-" :"-"%></td>
                  <% end %>
                <% end %>
                <td class="mark-td"><%=  @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ia_score"] : "-" : "-"%></td>
                <td class="mark-td"><%=  @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ea_score"] : "-" : "-" %></td>
                <td class="mark-td"><%=  @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["total_score"] : "-" : "-" %></td>
              <% elsif @report_type=="detailed_internal_mark" %>
                <% if @ia_indicators[eg.icse_exam_category_id.to_i].present? %>
                  <% @ia_indicators[eg.icse_exam_category_id.to_i].each do |indicator| %>
                    <td class="mark-td"><%= @ia_score_hash[student.id.to_i].present?? @ia_score_hash[student.id.to_i][eg.icse_exam_category_id.to_s].present?? @ia_score_hash[student.id.to_i][eg.icse_exam_category_id.to_s][indicator.id].present?? @ia_score_hash[student.id.to_i][eg.icse_exam_category_id.to_s][indicator.id]["mark"] : "-" : "-" :"-"%></td>
                  <% end %>
                <% end %>
                <td class="mark-td"><%=  @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ia_score"] : "-" : "-"%></td>
              <% end %>
            <% end %>
          </tr>
        </table>
      </div>
    </center>
  <% end %>

</div>
