<div id="page-yield" class="available_sections">
  <div class="section" >
    <center>
      <div class="hor_line"></div>
      <h2>Subject Wise Report</h2>
      <div class="hor_line"></div>
    </center>
  </div>

  <div class="section">
    <div class="info">
      <div class="info-left">
        <div class="info1">
          <label class="field-label">Batch</label>: <label class="infolbl"> <%= @batch.full_name %></label>
        </div>
        <div class="info1">
          <label class="field-label">Subject</label>: <label class="infolbl"> <%= @subject.name %></label>
        </div>
        <div class="info1">
          <label class="field-label">Gender</label>: <label class="infolbl"> <%= params[:gender].present?? params[:gender]=="m" ? "Male" : "Female" : "All"%></label>
        </div>
      </div>
      <div class="info-right">
        <div class="info1">
          <label class="field-label">Exam Group</label>: <label class="infolbl"> <%=  @exam_groups.map(&:name).join(",") if @exam_groups.present?%></label>
        </div>
        <div class="info1">
          <label class="field-label">Student Category</label>: <label class="infolbl"> <%= @student_category.present? ? @student_category.name : "All"%></label>
        </div>
        <div class="info1">
          <label class="field-label">Report type</label>: <label class="infolbl"> <%=@report_type.gsub("_", " ").camelize%></label>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <table id="pdf-table" width="100%">
      <tr class="table-header">
        <td></td>
        <% @exam_groups.each do |eg| %>
          <td class="name-td" colspan="3"><%= eg.name %></td>
        <% end %>
      </tr>
      <tr class="table-header">
        <td class="name-td">Students</td>
        <% @exam_groups.each_with_index do |eg,i| %>
          <% if @report_type=="internal_and_external_mark" %>
            <td class="mark-td"><%= "IA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ia_weightage"] : "-" })" %></td>
            <td class="mark-td"><%= "EA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ea_weightage"] : "-"})" %></td>
            <td class="mark-td"><%= "IA+EA (100)" %></td>
          <% elsif @report_type=="internal_mark" %>
            <td class="mark-td" colspan="3"><%= "IA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ia_weightage"]  : "-"})" %></td>
          <% elsif @report_type=="external_mark" %>
            <td class="mark-td" colspan="3"><%= "EA (#{@weightage_hash[eg.icse_exam_category_id.to_i].present?? @weightage_hash[eg.icse_exam_category_id.to_i]["ea_weightage"]  : "-"})"%></td>
          <% end %>
        <% end %>
      </tr>
      <% @students.each_with_index do |student,i| %>
        <tr class="<%= cycle('even', 'odd') %>">
          <% student_text = "#{student.full_name}(#{student.admission_no})" %>
          <% if roll_number_enabled? %>
            <%  student_text = (student.roll_number.present? ? "#{student.roll_number} -" : '') + "#{student.full_name}" %>
          <% end %>
          <td class="name-td"><%= student_text %></td>
          <% @exam_groups.each do |eg| %>
            <% if @report_type=="internal_and_external_mark" %>
              <td class="mark-td"><%= @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ia_score"].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ia_score"] : "-" : "-" : "-" %></td>
              <td class="mark-td"><%= @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ea_score"].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ea_score"] : "-" : "-" : "-" %></td>
              <td class="mark-td"><%= @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["total_score"].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["total_score"] : "-" : "-" : "-" %></td>
            <% elsif @report_type=="internal_mark" %>
              <td colspan="3" class="mark-td"><%= @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ia_score"].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ia_score"] : "-" : "-" : "-" %></td>
            <% elsif @report_type=="external_mark" %>
              <td colspan="3" class="mark-td"><%= @report_hash[student.id].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ea_score"].present?? @report_hash[student.id][eg.icse_exam_category_id.to_s]["ea_score"] : "-" : "-" : "-" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

</center>
</div>
