<% unless @students.blank? %>
    <div class="info">
      <div class="field_pair">
        <div class="label1"><%= "#{t('total')} #{t('students')}" %></div>
        <div class="label2"><%= ": #{@students.total_entries}" %></div>
      </div>
    </div>
    <div class="submit-button">
      <% batch_ids=params[:batch_id].present? ? params[:batch_id][:batch_ids] : [] %>
      <%= link_to "#{t('export_as_csv')}", {:action => 'batch_head_wise_fees_csv', :batch_ids => batch_ids}, :target => '_blank' %>
    </div>
    <div class="extender"></div>
    <div id="page-yield">
      <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head sub-heading">
          <td><%= t('no_text') %></td>
          <td>
            <%= "#{t('student_name')}" %>
          </td>
          <td>
            <%= "#{t('batch_name')}" %>
          </td>

          <td>
            <%= "#{t('fee_collection')} #{t('name')}" %>

          </td>


          <td>
            <%= "#{t('amount_to_pay')}&#x200E; (#{currency})&#x200E;" %>
          </td>


          <td>
            <%= "#{t('paid').capitalize} #{t('amount')}&#x200E; (#{currency})&#x200E;" %>
          </td>


          <td>
            <%= "#{t('fee_particulars')}" %>
          </td>


          <td>
            <%= "#{t('fee_discounts')}" %>
          </td>

        </tr>
        <% page_count=0 %>
        <% @students.each_with_index do |s, @i| %>
            <% balance=0 %>
            <% paid_fees=0 %>
            <% if params[:page].present? %>
                <% if params[:page].to_i >= 1 %>
                    <% @i = @i + (params[:page].to_i - 1) * @students.per_page.to_i %>
                <% end %>
            <% else %>
                <% @i = @i %>
            <% end %>
            <% page_count+=1 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-5 parent-style" rowspan="<%= s.finance_fees.length+1 %>"> <%= @i+1 %></td>
              <% if roll_number_enabled? %>
                <% student_text = "- #{s.roll_number}&#x200E;" %>
              <%else%>
                <% student_text = "(#{s.admission_no})&#x200E;"  %>
              <% end %>
              <td class="col-2 parent-style" rowspan="<%= s.finance_fees.length+1 %>"><%= "#{s.full_name}&#x200E; #{student_text}" %></td>


              <td class="col-2 parent-style" rowspan="<%= s.finance_fees.length+1 %>"><%= "#{s.batch.full_name}" %></td>
              <% s.finance_fees.each do |f| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <td class="col-2"><%= f.finance_fee_collection.name %></td>


                  <td class="col-4"><%= precision_label(f.balance.to_f) %></td>
                  <% balance=f.balance.to_f+balance %>


                  <td class="col-4"><%= precision_label(f.finance_transactions.collect(&:amount).sum) %></td>
                  <% paid_fees=paid_fees+f.finance_transactions.collect(&:amount).sum %>


                  <td class="col-4">
                    <% p=[] %>
                    <% i=1 %>
                    <% f.finance_fee_collection.collection_particulars.each { |cp| cp.finance_fee_particular.present? and ((cp.finance_fee_particular.batch_id==f.batch_id and cp.finance_fee_particular.receiver.present?) and (cp.finance_fee_particular.receiver==s or cp.finance_fee_particular.receiver==f.batch or cp.finance_fee_particular.receiver==f.student_category )) ? (p<< "#{i}. #{cp.finance_fee_particular.name} : <color ='red'>#{precision_label(cp.finance_fee_particular.amount)}</color>"; i=i+1) : p= p } %>
                    <%= p.join('<p/>') %>


                  </td>
                  <td class="col-4">
                    <% d=[] %>
                    <% i=1 %>
                    <% f.finance_fee_collection.collection_discounts.each { |cd| cd.fee_discount.present? and ((cd.fee_discount.batch_id==f.batch_id and cd.fee_discount.receiver.present?) and  (cd.fee_discount.receiver==s or cd.fee_discount.receiver==f.batch or cd.fee_discount.receiver==f.student_category )) ? (d<< "#{i}. #{cd.fee_discount.name} : #{precision_label(cd.fee_discount.discount)}#{cd.fee_discount.is_amount ? '('+currency+')' : '%'}"; i=i+1) : d= d } %>
                    <%= d.join('<p/>') %>
                  </td>
                </tr>
            <% end %>
            <tr>
              <td>

              </td>
              <td class="col-14" >
                Total
              </td>

              <td>

              </td>
              <td>

              </td>
              <td class="col-14">
                <%= precision_label(balance)%>
              </td>
              <td class="col-14">

                <%= precision_label(paid_fees) %>
              </td>
            </tr>
            </tr>

        <% end %>
      </table>
      <% unless @students.per_page.to_i > @students.total_entries.to_i %>
          <div class="pagination_list">
            <div class="pagination_text">
              <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@students.total_entries}" %>
            </div>
            <%= will_paginate @students, :renderer => 'RemoteLinkRenderer', :page_links => false, :params => {:batch_id => params[:batch_id]} %>
          </div>
      <% end %>
<% else %>
    <p class="flash-msg"> <%= "#{t('no_fee_collection_present')} #{t('found')}" %></p>
<% end %>
</div>
