<% unless @headwise_student_reports.blank? %>
    <div class="info">
      <div class="field_pair">
        <div class="label1"><%= "#{t('student_name')}" %></div>
        <div class="label2"><%= ": #{@student.full_name}&#x200E; (#{@student.admission_no})&#x200E;" %></div>
      </div>
      <% if roll_number_enabled? %>
      <div class="field_pair">
        <div class="label1"><%= "#{t('roll_no')}" %></div>
        <div class="label2"><%= ": #{(@student.roll_number.present? ? @student.roll_number : "-" )}" %></div>
      </div>
      <% end %>
      <div class="field_pair">
        <div class="label1"><%= "#{t('batch_name')}" %></div>
        <div class="label2"><%= ": #{@student.batch.full_name}" %></div>
      </div>
    </div>


    <div class="info">
    <div class="field_pair">
        <div class="label1"><%= "#{t('total')} #{t('fee_collections')}" %></div>
        <div class="label2"><%= ": #{ @headwise_student_reports.total_entries }" %></div>
      </div>

      <div class="field_pair">
        <div class="label1"><%= "#{t('total')} #{t('paid')}" %></div>
        <div class="label2"><%= ": #{ @total_paid }" %></div>
      </div>

      <div class="field_pair">
        <div class="label1"><%= "#{t('total')} #{t('balance')}" %></div>
        <div class="label2"><%= ": #{ @total_balance }" %></div>
      </div>
    </div>

    <div class="extender"></div>
    <div id="page-yield">
      <table id="report_table" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head sub-heading" style="background: #fff;color: #000!important;">
          <td colspan="4" text-align="center"><%= "#{t('collection')} #{t('details')}" %></td>
          <% if @particular_names.present? %>
              <td colspan="<%= @particulars.count %>" text-align="center"><%= "#{t('fee_particulars')} #{t('details')}&#x200E; (#{currency})&#x200E;" %> </td>
          <% end %>
          <% if @discount_names.present? %>
              <td colspan="<%= @discounts.count %>" text-align="center"><%= "#{t('fee_discounts')} #{t('details')}" %></td>
          <% end %>
        </tr>
        <tr class="tr-head sub-heading">
          <td><%= t('no_text') %></td>

          <td><%= t('fees_collection') %></td>
          <td><%= "#{t('paid').capitalize} #{t('amount')}&#x200E; (#{currency})&#x200E;" %></td>
          <td><%= "#{t('amount_to_pay')}&#x200E; (#{currency})&#x200E;" %></td>
          <% @particular_names.each do |attr| %>
              <td><%= attr %></td>
          <% end %>


          <% @discount_names.each do |attr| %>
              <td><%= attr %></td>
          <% end %>


        </tr>
        <% page_count=0.to_f %>
        <% paid_amount=0.to_f %>
        <% balance_amount=0 %>
        <% @headwise_student_reports.each_with_index do |s, @i| %>
            <% if params[:page].present? %>
                <% if params[:page].to_i >= 1 %>
                    <% @i = @i + (params[:page].to_i - 1) * @headwise_student_reports.per_page.to_i %>
                <% end %>
            <% else %>
                <% @i = @i %>
            <% end %>
            <% page_count+=1 %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <td class="col-5"> <%= @i+1 %></td>
              <td class="col-4"><%= "#{s.name}" %></td>
              <td class="col-4"><%= s.paid.blank?? precision_label(0) : precision_label(s.paid) %></td>
              <td class="col-4"><%= precision_label(s.balance) %></td>
              <% paid_amount=paid_amount+s.paid.to_f %>
              <% balance_amount=balance_amount+s.balance.to_f %>
              <% @particular_names.each do |attr| %>
                  <td class="col-4"><%= s.instance_eval("par_"+attr.gsub(/[^a-zA-Z0-9]/, "_")) %></td>
              <% end %>
              <% @discount_names.each do |attr| %>
                  <td class="col-4"><%= s.instance_eval("dis_"+attr.gsub(/[^a-zA-Z0-9]/, "_")) %></td>
              <% end %>

            </tr>
        <% end %>
        <tr>
          <td></td>
          <td class="col-14"><%= "#{t('total')}" %></td>
          <td class="col-14"><%= precision_label(paid_amount) %></td>
          <td class="col-14"><%= precision_label(balance_amount) %></td>
        </tr>
      </table>
      <% unless @headwise_student_reports.per_page.to_i > @headwise_student_reports.total_entries.to_i %>
          <div class="pagination_list">
            <div class="pagination_text">
              <%= "#{t('showing')} #{@i+1-(page_count-1)}-#{@i+1} #{t('of')} #{@headwise_student_reports.total_entries}" %>
            </div>
            <%= will_paginate @headwise_student_reports, :renderer => 'RemoteLinkRenderer', :page_links => false, :params => {:id => params[:id]} %>
          </div>
      <% end %>
<% else %>
    <p class="flash-msg"> <%= t('no_fee_collection_exist') %></p>
<% end %>
</div>
