<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
<div class='header-sep'>|</div>
<div class='sub-header'><%="#{t('students')} #{t('fees_defaulters_text')}" %></div>
  
</div>


<div id="page-yield">
  <div class="bread_crumb">
    <%breadcrumb :report_student_wise_fee_collections,@student %>
    <%= render_breadcrumbs  %>
  </div>
<% unless flash[:notice].nil? %>
  <p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>
<div id="information">
  <%= render  :partial => 'student_wise_fees_collections'%>
</div>
</div>