<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('reports_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%="#{t('student_text')} #{t('fees_head_wise_report')}" %></div>

</div>


<div id="page-yield">
  <div class="bread_crumb">
    <%breadcrumb :report_student_fees_headwise_report, @student %>
    <%= render_breadcrumbs%>
  </div>
  <% unless flash[:notice].nil? %>
      <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div id="information">
    <%= render  :partial => 'fee_headwise_report'%>
  </div>
</div>