<h1>New attendance_messsage</h1>

<% form_for(@attendance_messsage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :in_message %><br />
    <%= f.text_field :in_message %>
  </p>
  <p>
    <%= f.label :out_message %><br />
    <%= f.text_field :out_message %>
  </p>
  <p>
    <%= f.label :absent_message %><br />
    <%= f.text_field :absent_message %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', attendance_messsages_path %>