<% remote_form_for :roll_number_prefix, :url => {:action => "update_course_prefix", :id => params[:id]} do %>
  <div class="label-field-pair">
    <label for="roll_number_prefix"><%= t('roll_no_prefix') %></label>
    <div class="text-input-bg" id="test">
      <%= text_field :course, :roll_number_prefix, :value => @course_prefix %>
    <div id="info"><%= t('max_characters') %></div>
    </div>
  </div>

  <div id="buttons">
    <%= submit_tag "Save",:class=>'submit_button', :disable_with => "► #{t('please_wait')}" %>
    <%= link_to_remote "Cancel", :url => {:action => 'update_course_prefix', :id => params[:id] , :course => {:roll_number_prefix => @course_prefix}} , :html => {:class => "submit_button", :id => "cancel",:onclick=>"Modalbox.hide();"}%>
  </div>
<% end %>