<div id="content-header">
  <%= show_header_icon %>
  <h1><%= t('configuration_text') %></h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'><%= t('edit_roll_numbers') %></div>
</div>

<div id="page-yield">
  <div class="bread_crumb">
    <% breadcrumb :student_roll_number_set_roll_numbers, @batch %>
    <%=  render_breadcrumbs %>
  </div>

  <div class="box">
    <div id="roll_no_prefix">
      <div class="label"><%= t('roll_no_prefix') %></div>
      <div id="value">
        <% batch_prefix = 0 %>
        <% if !@batch.roll_number_prefix.present? and !@batch.course.roll_number_prefix.present? %>
          <% batch_prefix = 2 %>
          <div id="prefix_value"><%= t('not_set') %></div>
          <div id="edit_prefix"><%= link_to_remote "Set prefix", :url => {:controller => "student_roll_number", :action => "edit_batch_prefix", :id => params[:id]}, :html => {:class => "themed_text"}%></div>
          <div id="reset_prefix"></div>
        <% elsif !@batch.roll_number_prefix.present? and @batch.course.roll_number_prefix.present? %>
          <div id="prefix_value"><%= @roll_number_prefix %></div>
          <div id="edit_prefix"><%= link_to_remote "Edit", :url => {:controller => "student_roll_number", :action => "edit_batch_prefix", :id => params[:id]}, :html => {:class => "themed_text"}%></div>
          <div id="reset_prefix"></div>
        <% elsif !@batch.course.roll_number_prefix.present? and @batch.roll_number_prefix.present? %>
          <% batch_prefix = 1 %>
          <div id="prefix_value"><%= @roll_number_prefix %></div>
          <div id="edit_prefix"><%= link_to_remote "Edit", :url => {:controller => "student_roll_number", :action => "edit_batch_prefix", :id => params[:id]}, :html => {:class => "themed_text"}%></div>
          <div id="reset_prefix"></div>
        <% else %>
          <% batch_prefix = 1 %>
          <div id="prefix_value"><%= @roll_number_prefix %></div>
          <div id="edit_prefix"><%= link_to_remote "Edit", :url => {:controller => "student_roll_number", :action => "edit_batch_prefix", :id => params[:id]}, :html => {:class => "themed_text"}%></div>
          <div id="reset_prefix">
            <%= link_to_remote "#{t('reset_to_course_default')}", :url => {:controller => "student_roll_number", :action => "reset_batch_to_course_prefix", :id => params[:id]},:loading => "$('loader').show();", :loaded => "$('loader').hide();",:html => {:class => "themed_text", :id => "reset_to_course"}, :complete => "update_course_prefix();"%>
            <%= image_tag("loader.gif", :align => "absmiddle", :border => 0, :id => "loader", :style =>"display: none" ) %>
          </div>
        <% end %>
      </div>
      <% if batch_prefix == 1%>
        <div id="batch_course_text"><%= t('batch_prefix_text') %></div>
      <% elsif batch_prefix == 2  %>
        <div id="batch_course_text"></div>
      <% else %>
        <div id="batch_course_text"><%= t('course_prefix_text') %></div>
      <% end %>
    </div>

    <div id="sort_by">
      <div class="label"><%= t('sorted_based_on') %></div>
      <div id="sort_by_value"><%= t(Configuration.roll_number_sort_order) %></div>
    </div>

    <div>
      <h4><%=  t('list_of_students') %></h4>
      <%= link_to_remote "#{t('reset_all')}", :url => { :controller => "student_roll_number", :action => "regenerate_all_roll_numbers", :id => params[:id] }, :html => {:id => "reset_all", :class => "themed_text" }%>
    </div>

    <% if @students.present? %>
      <% form_for :students, :url => {:action => 'update_roll_numbers', :batch_id => params[:id] } do -%>
        <table id="listing_theme" class ="subjects" align="center" width="100%" cellpadding="1" cellspacing="1">
          <tr class="tr-head">
            <td><%= t('sl_no') %></td>
            <td><%= t('student_name') %></td>
            <td><%= t('admission_no') %></td>
            <td><%= t('roll_no') %></td>
          </tr>
          <tr class="tr-blank"></tr>
          <% roll_number_suffix = @roll_number_suffix %>
          <% @students.each_with_index do |student, i| %>
            <% fields_for "student[]", student do |stud| %>
              <tr  class="tr-<%= cycle('odd', 'even') %>" data="<%= student.id %>">
                <td class="col-1"><%= i+=1 %></td>
                <td class="col-2"><%= student.full_name %></td>
                <td class="col-3"><%= student.admission_no %></td>
                <td class="col-4">
                  <% student.roll_number.to_s.slice!(@roll_number_prefix) unless @roll_number_prefix.nil? %>
                  <% unless params[:action] == "update_roll_numbers" %>
                    <div class="box2">
                      <span class="tp prefix_val" id="prefix_val"><%= @roll_number_prefix %></span>
                      <span id="suffix_val" class="sv"><%= student.roll_number %></span>
                       <span id="suffix_val_edit" style="display:none">
                        <div class="text-input-bg">
                          <%= stud.text_field :roll_number, :value => student.roll_number %>
                        </div>
                    </span>
                    </div>
                    <div class="eb edit-button themed_text" id="edit-button-<%=student.id%>"><%= "#{t('edit')}" %></div>
                    <div class="reset-button themed_text" id="button-<%=student.id%>" style="display:none;"><%= "#{t('reset')}" %></div>

                   
                  <% else %>
                    <% if params[:action] == "update_roll_numbers" && (@errors && @errors.include?(student.id.to_s)) || @current_values.has_key?(student.id.to_s) %>
                      <div class="prefix_val"><%= @roll_number_prefix %></div>
                      <div id="suffix_val_edit">
                        <div class="label-field-pair">
                          <div class="text-input-bg">
                            <% if @errors.include?(student.id.to_s) %>
                            <div class="fieldWithErrors">
                              <%= stud.text_field :roll_number, :value => @current_values[student.id.to_s] %>
                            </div>
                            <% elsif @current_values[student.id.to_s].present? && !@errors.include?(student.id.to_s) %>
                              <%= stud.text_field :roll_number, :value => @current_values[student.id.to_s] %>
                            <% else %>
                              <div id="suffix_val"><%= student.roll_number %></div>
                              <div class="edit-button themed_text" id="edit-button-<%=student.id%>"><%= "#{t('edit')}" %></div>
                              <div id="suffix_val_edit" style="display:none">
                              <div class="label-field-pair">
                                <div class="text-input-bg">
                                  <%= stud.text_field :roll_number, :value => student.roll_number %>
                                  <div class="reset-button themed_text" id="button-<%=student.id%>" style="display:none;"><%= "#{t('reset')}" %></div>
                                </div>
                              </div>
                            </div>
                            <% end %>
                            <% if @errors and @errors.include?(student.id.to_s) %>
                              <div class="error-icon"></div>
                            <% end %>
                            <%  if @current_values and @errors.include?(student.id.to_s)%>
                              <div class="tooltip" id ="stud_tooltip_<%= student.id%>" style="display:none">
                                <%= find_student_alloted(@current_values,student,@err_msg)  %>
                              </div>
                            <% end %>
                            <div class="reset-button themed_text" id="button-<%=student.id%>" style="display:none;"><%= "#{t('reset')}" %></div>
                          </div>
                        </div>
                      </div>
                    <% else %>
                      <div class="prefix_val"><%= @roll_number_prefix %></div>
                      <div id="suffix_val"><%= student.roll_number %></div>
                      <div class="edit-button themed_text" id="edit-button-<%=student.id%>"><%= "#{t('edit')}" %></div>
                      <div id="suffix_val_edit" style="display:none">
                        <div class="label-field-pair">
                          <div class="text-input-bg">
                            <%= stud.text_field :roll_number, :value => student.roll_number %>
                            <div class="reset-button themed_text" id="button-<%=student.id%>" style="display:none;"><%= "#{t('reset')}" %></div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </td>
                <% roll_number_suffix = roll_number_suffix.next %>
              </tr>
            <%end%>
          <% end %>
        </table>

        <%=  submit_tag("► #{t('update')}", :id => 'submit_button',:class=>"submit_button float_right", :disable_with => "► #{t('please_wait')}")%>
      <%end%>
    <% else %>
      <table id="listing_theme" class ="subjects" align="center" width="100%" cellpadding="1" cellspacing="1">
        <tr class="tr-head"><td><%= t('no_students_found')%></td></tr>
      </table>
    <% end %>

    <div id="modal-box" style="display:none;"></div>
  </div>
</div>





<script type="text/javascript">

  j('.fieldWithErrors input').focusin(function(){
    j(this).parents('.label-field-pair').children('.text-input-bg').children('.tooltip').show();
  });

  j('.fieldWithErrors input').focusout(function(){
    j(this).parents('.label-field-pair').children('.text-input-bg').children('.tooltip').hide();
  });

  j('#reset_to_course').click(function(e){
    j(this).hide();
  });
  
  function update_course_prefix(){
   j('.prefix_val').text("<%= @batch.course.roll_number_prefix %>")
  }

  var backup = {};

  j('.text-input-bg input').change(function(){
    j("#button"+"-"+id).show();
    j(j(this)).parents('.fieldWithErrors').siblings('.error-icon').hide();
    j(j(this)).parents('.fieldWithErrors').removeClass('fieldWithErrors');
  })

  j('.text-input-bg input').click(function(){
    id = j(this).parents("tr").attr("data");
    backup[id] = j(this).val();
  })

  j('.reset-button').click(function(){
    id = j(this).parents("tr").attr("data");
    old_val = backup[id];

    j(this).siblings(".box2").children("#suffix_val_edit").children(".text-input-bg").children("input").val(old_val);
    j(this).siblings().first().children("input").val(old_val);
    j(this).siblings(".fieldWithErrors").children("input").val(old_val);
    j("#button"+"-"+id).hide();
  })

  j('.edit-button').click(function(){
    j(this).parent().find("#suffix_val").hide();
    j(this).parent().find("#suffix_val_edit").show();
    id = j(this).parents("tr").attr("data");
    j("#edit-button"+"-"+id).hide();
  })
</script>
