<div id="exam-form">
<% form_remote_for :batch_options, :url => {:controller=>'exam',:action => 'update_exam_form_with_multibatch',:batch=>@batch} do |form| %>
<div class="label-field-pair">
   <label for="student_batch"><%= t('select_batch') %>:</label>
   <%if params[:batches].present?%>
   <%@course=Course.find(params[:course])%>
   <%@batches=@course.batches.find(:all,:conditions =>{ :is_deleted => false, :is_active => true})%>
   <%end%>
 <div class="text-input-bg" style="margin-bottom: 113px;">
        <div class="categories">
          <div class="sel-list">
            <%= t('select') %>: <%= link_to_function t('all'), "$$('input.check_batch').each(function(checkbox) { checkbox.checked = true; });" %>,
            <%= link_to_function t('none'), "$$('input.check_batch').each(function(checkbox) { checkbox.checked = false; });" %>
          </div>
            <% @batches.each do |c| %>
              <div class="each_category">
                <%if params[:batches].present?%>
                    <%=check_box_tag "batch_options[batches][]",c.id,params[:batches].include?(c.id.to_s),:class=>'check_batch'%>
                <%else%>
                    <%=check_box_tag "batch_options[batches][]",c.id,false,:class=>'check_batch'%>
                <%end%>
                <label><%= "#{c.full_name}" %></label>
             </div>
          <% end %>
       </div>
 </div>
</div>
<% unless params[:batch_options].blank? %>
        <% if params[:batch_options][:exam_type] == 'Marks' or params[:batch_options][:exam_type] == 'MarksAndGrades' %>
          <%= render :partial=>'exam/exam_marks_form' %>
        <% else %>
          <%= render :partial=>'exam/exam_grade_form' %>
        <% end %>
 <% else %>
        <%= error_messages_for :exam_group %>
	 <div class="label-field-pair">
            <label for="exam_name"><%= t('exam_name') %></label>
            <% if params[:ename].nil?  %>
              <% @ename = "" %>
            <% else %>
              <% @ename = params[:ename] %>
            <% end  %>
            <div class="text-input-bg"><%= form.text_field :name, :value=>@ename%></div>
          </div>
          <div class="exam_type">
          <% if @course.gpa_enabled? or @course.cwa_enabled? %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :batch_options,:exam_type,[[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% elsif @course.cce_enabled? %>
            <div class="label-field-pair">
              <label for="cce_exam_category_id"><%= t('cce_exam_category') %></label>
              <div class="text-input-bg"><%= select :batch_options,:cce_exam_category_id,@cce_exam_categories.map{|ec| [ec.name,ec.id]},:prompt=>t("select") %></div>
            </div>
            <%= hidden_field :batch_options,:exam_type, :value=>"MarksAndGrades"  %>
          <% elsif @course.icse_enabled?%>
            <div class="label-field-pair">
              <label for="cce_exam_category_id">ICSE Exam Category</label>
              <div class="text-input-bg"><%= select :batch_options,:icse_exam_category_id,@icse_exam_categories.map{|ec| [ec.name,ec.id]},:prompt=>"Select Exam Category" %></div>
            </div>
            <%= hidden_field :batch_options,:exam_type, :value=>"MarksAndGrades"  %>
          <% else %>
            <div class="label-field-pair">
              <label for="exam_type"><%= t('exam_type') %></label>
              <div class="text-input-bg"><%= select :batch_options,:exam_type,[[t('marks'),"Marks"],[t('grades'), "Grades"],[t('marks_and_grades'),"MarksAndGrades"]] %></div>
            </div>
          <% end %>
         </div>
   <%end%>
  <div class="text-input-bg">
            <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button", :id => 'submit_button' %>
    </div>
 <% end %>
 </div>