<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="page-yield" class="available_sections">
  <div class="section " >
    <center>
      <div class="hor_line"></div>
      <h3><%= "Grouped Exam Report for Batch : "+@batch.full_name %></h3>
    </center>
  </div>
  <div class="section  student-report">
    <center>
      <div id ="main_info">
        <div class="info1">
          <div class="info-left">
            <h4>  <%= @student.full_name %> - <%= @student.admission_no %> </h4>
          </div>
        </div>
        <% if roll_number_enabled? %>
          <div class="info1">
            <div class="info-left">
              <h4>  <%= t('roll_no') %> - <%= @student.roll_number %> </h4>
            </div>
          </div>
        <% end %>
      </div>
    </center>
  </div>

  <% grade_type = "normal" %>
  <% grade_type = "GPA" if @batch.gpa_enabled? %>
  <% grade_type = "CWA" if @batch.cwa_enabled? %>

  <% if @type=="grouped" %>
    <% unless @exam_groups.blank? %>
      <div class="section  ">
        <center>
          <table id="pdf-table" width="100%">
            <tr class="table-header">
              <td class="col-pdf1 subject-td"><%= t('subject') %></td>
              <% if grade_type=="GPA" or grade_type=="CWA" %>
                <td class="col-pdf1 credit-td"><%= t('credit') %></td>
              <% end %>
              <% @exam_groups.each do |exam_group| %>
                <td class="col-pdf1 exam-group-td"><%= exam_group.name %></td>
              <% end %>
              <td class="col-pdf1 combined-td"><%= t('combined') %></td>
            </tr>
            <% c ='even' %>
            <%@subjects.each do |subject| %>
              <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                <td class="subject-td" ><%= subject.name %></td>
                <% if grade_type=="GPA" or grade_type=="CWA" %>
                  <td class="credit-td"><%= subject.credit_hours.present? ? subject.credit_hours : "-" %></td>
                <% end %>
                <% @exam_groups.each do |exam_group| %>

                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <td class="exam-group-td">
                    <% if grade_type=="GPA" %>
                      <%= exam_score.present? ? "#{exam_score.grading_level || "-"}"+" ["+"#{exam_score.grading_level.present? ? (exam_score.grading_level.credit_points || "-") : "-"}"+"]" : "-" %>
                    <% elsif grade_type=="CWA" %>
                      <%= valid_mark?(@exam.maximum_marks) ? exam_score.present? ? "#{exam_score.marks.present? ? ("%.2f" %((exam_score.marks.to_f/@exam.maximum_marks.to_f)*100)) : "-"}"+" ["+"#{exam_score.grading_level.present? ? exam_score.grading_level : "-"}"+"]" : "-" : "-"%>
                    <% else %>
                      <% if exam_group.exam_type == "MarksAndGrades" %>
                        <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                      <% elsif exam_group.exam_type == "Marks" %>
                        <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
                      <% else %>
                        <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                      <% end %>
                    <% end %>
                  </td>
                <% end %>
                <% if (@current_user.student? or @current_user.parent?) and @result_published==false %>
                  <td class="combined-td">-</td>
                <% else %>
                  <% subject_average = GroupedExamReport.find_by_student_id_and_subject_id_and_score_type(@student.id,subject.id,"s") %>
                  <td class="combined-td"><%= subject_average.present? ? "#{subject_average.marks}[#{GradingLevel.percentage_to_grade(subject_average.marks, @batch.id).present? ? GradingLevel.percentage_to_grade(subject_average.marks, @batch.id) : '-'}]" : "-[-]"%></td>
                <% end %>
              </tr>
            <% end %>
            <tr class="table-header end">
              <% if grade_type=="GPA" %>
                <td colspan="2" align="right"><%= t('gpa') %></td>
              <% elsif grade_type=="CWA" %>
                <td colspan="2" align="right"><%= t('weighted_average') %></td>
              <% else %>
                <td align="right"><%= t('percentage') %></td>
              <% end %>
              <% @exam_groups.each do |exam_group| %>
                <% exam_total = GroupedExamReport.find_by_student_id_and_exam_group_id_and_score_type(@student.id,exam_group.id,"e") %>
                <td class="exam-group-td">
                  <%= exam_total.present? ? exam_total.marks : "-" %>
                </td>
              <% end %>
              <% if (@current_user.student? or @current_user.parent?) and @result_published==false %>
                <td class="combined-td">-</td>
              <% else %>
                <% total_avg = GroupedExamReport.find_by_student_id_and_batch_id_and_score_type(@student.id,@batch.id,"c") %>
                <td class="combined-td"><%= total_avg.present? ? total_avg.marks : "-" %></td>
              <% end %>
            </tr>

          </table>
        </center>
      </div>
    <% else %>
      <table id="pdf-table" width="100%">
        <tr class="table-header">
          <td><%= t('no_exam') %></td>
        </tr>
      </table>
    <% end %>
  <% else %>
    <% all_exams = @exam_groups.reject{|ex| ex.exam_type == "Grades"} %>
    <% unless all_exams.blank? %>
      <% c ='even' %>
      <div class="section " >
        <center>
          <table id="pdf-table" width="100%">
            <tr class="table-header">
              <td class="subject-td"><%= t('subject') %></td>
              <% @exam_groups.each do |exam_group| %>
                <td class="exam-group-td"><%= exam_group.name %></td>
              <% end %>
              <% unless all_exams.empty? %>
                <td class="combined-td"><%= t('total') %></td>
              <% end %>
            </tr>

            <%  @subjects.each do |subject| %>
              <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                <td class="subject-td" ><%= subject.name %></td>
                <% @mmg = 1;@g = 1 %>
                <% @exam_groups.each do |exam_group| %>

                  <% @exam = Exam.find_by_subject_id_and_exam_group_id(subject.id,exam_group.id) %>
                  <% exam_score = ExamScore.find_by_student_id(@student.id, :conditions=>{:exam_id=>@exam.id})unless @exam.nil? %>
                  <td class="exam-group-td">
                    <% unless @exam.nil? %>
                      <% if exam_group.exam_type == "MarksAndGrades" %>
                        <%= exam_score.nil? ? '-' :  "#{(exam_score.marks || "-")}" +"/"+@exam.maximum_marks.to_s+"[#{(exam_score.grading_level || "-")}]" %>
                      <% elsif exam_group.exam_type == "Marks" %>
                        <%= exam_score.nil? ? '-' : "#{exam_score.marks || "-"}/"+@exam.maximum_marks.to_s %>
                      <% else %>
                        <%= exam_score.nil? ? '-' : (exam_score.grading_level || '-')  %>
                        <% @g = 0 %>
                      <% end %>
                    <% else %>
                      <%= "#{t('n_a')}" %>
                    <% end %>
                  <% end %>
                </td>
                <% total_score = ExamScore.new() %>
                <% unless all_exams.empty? %>
                  <% if @mmg == @g %>
                    <td class="combined-td"><%= total_score.grouped_exam_subject_total(subject,@student,@type) %></td>
                  <% else %>
                    <td class="combined-td">-</td>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
            <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
              <td class="exam-group-td td-bold"><%= t('total') %></td>
              <% @max_total = 0 %>
              <% @marks_total = 0 %>

              <% @exam_groups.each do |exam_group| %>
                <% if exam_group.exam_type == "MarksAndGrades" %>
                  <td class="exam-group-td td-bold"><%= exam_group.total_marks(@student)[0] %></td>
                <% elsif exam_group.exam_type == "Marks" %>
                  <td class="exam-group-td td-bold"><%= exam_group.total_marks(@student)[0] %></td>
                <% else %>
                  <td class="exam-group-td td-bold">-</td>
                <% end %>
                <% unless exam_group.exam_type == "Grades" %>
                  <% @max_total = @max_total + exam_group.total_marks(@student)[1] %>
                  <% @marks_total = @marks_total + exam_group.total_marks(@student)[0] %>
                <% end %>
              <% end %>
              <td class="exam-group-td td-bold"></td>
              <% unless all_exams.empty? %>
                <!--td></td-->
              <% end %>
            </tr>

          </table>
        </center>
      </div>
    <% else %>
      <table id="pdf-table" width="100%">
        <tr class="table-header">
          <td><%= t('no_exam') %></td>
        </tr>
      </table>
    <% end %>
  <% end %>


  <%@ret_val= RemarkMod.generate_common_remark_form("grouped_exam_general",@student.id,nil,1,{:batch_id=>@batch.id,:student_id=>@student.id})%>
  <%if @ret_val.present?%>
    <div style="page-break-before: always">
      <div class="section " >
        <div id="remarks_bold_label"><%= t('remarks_text') %></div></div>
      <%@ret_val.each do |val|%>
        <div class="section " >
          <div class="common_remarks_section">
            <div id="remarked_by_section"><%= val.remarked_by.present? ? val.remarked_by : '-' %></div><div id="remark_body_section"><%=val.remark_body.present? ? val.remark_body.strip.gsub(/\n/, "<br/>") : '-'%></div><div id="submitted_by_section"><%=val.user.present? ? val.user.first_name : t('deleted_user')%> on <%= format_date(val.updated_at,:format=>:long_date)%></div>
          </div>
        </div>
      <%end%>
    </div>
  <%else%>
    <div class="section " >
      <div id="remarks_bold_label"><%= t('remarks_text') %></div>
      <div id="no_common_remarks">
        No remarks present
      </div>
    </div>
  <%end%>
</div>


