<div id="content-header">
  <h1>Manage Terms</h1>
  <div class='header-sep'>|</div>
  <div class='sub-header'>All Terms</div>
  <div id="inner-tab-menu">
    <ul>
      <li class='themed_bg themed-dark-hover-background'><%= link_to 'Create New Terms', new_term_exam_path %></li>
    </ul>
  </div>
</div>
<div id="page-yield">
  <div class="bread_crumb">
  </div>
  <div class="box">
    <div id="update_batch"></div>
    <div class="extender"></div>
  </div>
</div>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
  <tbody>
    <tr class="tr-head">
      <td>Sl  no.</td>
      <td>TERM ID</td>
      <td>Course</td>
      <td>Term</td>
      <td>Priority</td>
      <td ></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @term_exams.each_with_index do |term_exam,i| %>
      <% if term_exam.batch.present? %>
        <tr class="tr-odd">
          <td class="col-1">
            <%= i+1 %>
          </td>

          <td>
            <%=h term_exam.id %>  
          </td>

          <td>
            <%=h term_exam.batch.full_name %>
          </td>

          <td>
            <%=h term_exam.name %>
          </td>

          <td>
            <%=h term_exam.order_priority %>
          </td>

          <td>
            <%= link_to 'Edit', edit_term_exam_path(term_exam) %>
            <% unless term_exam.exam_groups.present? %>
              <%= link_to 'Destroy', term_exam, :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
          </td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


