<div id="particulars-list">
  <% student_discount_link=false %>
  <% @categorized_discounts.each do |discount_type| %>
      <tr class="tr-blank"></tr>
      <tr class="tr-<%= cycle("odd", "even") %> <%= discount_type.first %>head" cellpadding="1" cellspacing="1">
        <td class="col-1"></td>
        <td class="col-1 bold_font" colspan="2">
          <span><%= "#{discount_type.first.underscore.humanize}-#{t('wise')}" %></span></td>
      </tr>
      <% discount_type.last.each do |fee| %>
          <tr class="tr-<%= cycle("odd", "even") %> particular" id="particular<%= fee.id %>">
            <td class="col-1 normal_font particular_index"><%= i+=1 %></td>
            <% discount_text = fee.is_amount == true ? "#{fee.name}" : "#{fee.name}-#{fee.discount}% " %>

            <% if fee.master_receiver_type=='FinanceFeeParticular' %>
                <% particular=fee.master_receiver %>
                <td class="col-2 normal_font"><%= "#{discount_text}  &#x200E;(#{particular.name}) &#x200E;" %></td>
                <td class="col-6 normal_font"> <%= precision_label(particular.amount * fee.discount.to_f/ (fee.is_amount? ? particular.amount : 100)) %></td>
            <% else %>
                <td class="col-2 normal_font"><%= discount_text %></td>
                <td class="col-6 normal_font"><%= precision_label(@total_payable * fee.discount.to_f/ (fee.is_amount? ? @total_payable : 100)) %></td>
            <% end %>

          </tr>
          </div>

      <% end %>

  <% end %>


