
  <%#= error_messages_for 'donation' %>
  <%#= error_messages_for 'employee_bank_details' %>
  <% i=0 %>
  <div id="form-contents">
    <span class="span-sub-heading"><%= t('additional_detail') %></span>
    <hr class="sub-heading"></hr>
    <!-- <div id="necessary-field-notification"> <%= t('legend1') %> <span class="necessary-field">*</span> <%= t('legend2') %></div> -->
    <% @additional_fields.each do |additional| %>
      <% prev_record = @donation_additional_details.find_by_additional_field_id(additional.id) %>
      <% unless prev_record.nil? %>
        <% if additional.input_type=="has_many" %>
          <% prev_value = prev_record.additional_info.split(", ") %>
        <% else %>
          <% prev_value = prev_record.additional_info %>
        <% end %>
      <% end %>
      <% input_val = ((params[:donation_additional_details].present? and params[:donation_additional_details][additional.id.to_s.to_sym].present? and params[:donation_additional_details][additional.id.to_s.to_sym][:additional_info].present?) ? (params[:donation_additional_details][additional.id.to_s.to_sym][:additional_info]) : (prev_value.present? ? prev_value : nil))%>
      <% if additional.input_type=="belongs_to" %>
        <div class="label-field-pair">
          <label><%= additional.name %>
            <% if additional.is_mandatory %>
              <span class="necessary-field">*</span>
            <% end %>
          </label>
          <div class="text-input-bg">
            <%= select("donation_additional_details[#{additional.id}]", "additional_info", options_for_select(additional.donation_additional_field_options.map{|b| [b.field_option,b.field_option]}, input_val), { :selected=>input_val,:include_blank=>t('select_an_option') },{}) %>
            <%#= select_tag "donation_additional_details[#{additional.id}][additional_info]", options_for_select(additional.donation_additional_field_options.map{|b| [b.field_option,b.field_option]}, input_val), {:include_blank=>true}%>
          </div>
        </div>
      <% elsif additional.input_type=="has_many" %>
        <div class="grades">
          <div class="label-field-pair">
            <label><%= additional.name %>
              <% if additional.is_mandatory %>
                <span class="necessary-field">*</span>
              <% end %></label>
          </div>
          <div class="fee_category_scroll">
            <div class="sel-list">
              <%= t('select') %>: <%= link_to_function t('all'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = true; });" %>,
              <%= link_to_function t('none'), "$$('input.check#{i}').each(function(checkbox) { checkbox.checked = false; });" %>
            </div>
            <% additional.donation_additional_field_options.each do |k| %>
              <div class="each_batch">
                <%= check_box_tag "donation_additional_details[#{additional.id}][additional_info][]", k.field_option,(!(input_val.nil?) and input_val.include?(k.field_option)), :class=>"batches_box check#{i}" %> <label><%= k.field_option %></label>
              </div>
            <% end %>
          </div>
        </div>
        <% i+=1 %>
      <% elsif additional.input_type=="text_area" %>
        <div class="label-field-pair-text-area">
          <label><%= additional.name %>
            <% if additional.is_mandatory %>
              <span class="necessary-field">*</span>
            <% end %></label>
          <div class="textarea-input-bg"><%= text_area_tag "donation_additional_details[#{additional.id}][additional_info]", input_val%></div>
        </div>
      <% else %>
        <div class="label-field-pair">
          <label><%= additional.name %>
            <% if additional.is_mandatory %>
              <span class="necessary-field">*</span>
            <% end %>
            </label>
          <div class="text-input-bg"><%= text_field_tag "donation_additional_details[#{additional.id}][additional_info]", input_val %></div>
        </div>
      <% end %>
    <div class="extender"></div>
    <% end %>
