<%-# Licensed to the Apache Software Foundation (ASF) under one
   #or more contributor license agreements.  See the NOTICE file
   #distributed with this work for additional information
   #regarding copyright ownership.  The ASF licenses this file
   #to you under the Apache License, Version 2.0 (the
   #"License"); you may not use this file except in compliance
   #with the License.  You may obtain a copy of the License at
   #
   #  http://www.apache.org/licenses/LICENSE-2.0
   #
   #Unless required by applicable law or agreed to in writing,
   #software distributed under the License is distributed on an
   #"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
   #KIND, either express or implied.  See the License for the
   #specific language governing permissions and limitations
   #under the License. -%>

<div class="label-field-pair" xmlns="http://www.w3.org/1999/html">
  <label for="reason"><%= "#{t('discount')}-#{t('for')}" %></label>
  <div class="text-input-bg"><div class="toggles-button">
    <div class="discount-radio">
      <%= radio_button_tag "yes",1,checked=true,options={:class=>"batch_radio radio",:action=>"fee_collection_batch_update",:master_receiver=>""} %><label class="discount-radio-label">Batches of this Category</label>
    </div>
    <div class="discount-radio">
      <%= radio_button_tag "yes",0,checked=false,options={:class=>"particular_radio radio",:action=>"load_fee_category_particulars",:master_receiver=>"FinanceFeeParticular"} %><label class="discount-radio-label">Particulars of this Category</label>
    </div>
    <%=hidden_field_tag "fee_discount[master_receiver_type]","",options={:id=>"master_receiver_type"}%>
  </div></div>
</div>
<div class="extender"></div>
<div id="fee-particular-box"></div>
<div class="extender"></div>
<div id="batch-data">
  <% if @batches.present? %>
      <%=hidden_field_tag :category,@fee_category.id if @fee_category%>
      <div class="batch_select_box">
        <div class="label-field-pair">
          <label > <%= t('select_batch') %><span class="necessary-field">*</span>:
          </label>
        </div>
        <div class="fee_category_scroll">
          <label class="scroll-head"><%= "#{t('list_of')} #{t('batches_text')}" %></label>
          <div class="sel-list">
            <%= link_to_function t('all'), "select_all_receivers('batch_ids');" %>,
            <%= link_to_function t('none'), "deselect_all_receivers();" %>
          </div>
          <% @batches.each do |f| %>

              <div class="each_batch">
                <% checked = false %>
                <% unless params[:fee_collection].nil? %>
                    <% checked = params[:fee_collection][:category_ids].include?(f.id.to_s) if params[:fee_collection][:category_ids].present? %>
                <% end %>
                <label id="select-batch" params="batch_ids"><%= check_box_tag "fee_collection[category_ids][]", f.id, checked, :class=>'batches_box' %> <%= f.full_name %></label>
              </div>

          <% end %>
        </div>
      </div>

  <% else %>
      <p class="flash-msg"> <%= t('finance.flash28') %> </p>
  <% end %>
</div>



