<% total_fees =0 %>
<% i = 0 %>
<div id="particulars-list">
  <% @categorized_particulars.each do |particular_type| %>
      <tr class="tr-blank"></tr>
      <tr class="tr-<%= cycle("odd", "even") %> <%= particular_type.first %>head" cellpadding="1" cellspacing="1">
        <td class="col-1"></td>
        <td class="col-1 bold_font" colspan="2"><span><%= "#{particular_type.first.underscore.humanize}-#{t('wise')}" %></span></td>
      </tr>
      <% particular_type.last.each do |fee| %>
          <tr class="tr-<%= cycle("odd", "even") %> particular" id="particular<%=fee.id %>" >
            <td class="col-1 normal_font particular_index"><%= i+=1 %></td>
            <td class="col-2 normal_font"><%= fee.name %></td>
            <td class="col-6 normal_font">
              <%= precision_label fee.amount %>
            </td>

          </tr>
          </div>
          <% total_fees += fee.amount %>
      <% end %>
  <% end %>
