<% total_fees =0 %>
<% i = 0 %>
<div id="particulars-list">
  <% @categorized_particulars.each do |particular_type| %>
    <tr class="tr-blank"></tr>
    <tr class="tr-<%= cycle("odd", "even") %> <%= particular_type.first %>head" cellpadding="1" cellspacing="1">
      <td class="col-1"></td>
      <td class="col-1 bold_font" colspan="2"><span><%= "#{particular_type.first.underscore.humanize}-#{t('wise')}" %></span></td>
    </tr>
    <% particular_type.last.each do |fee| %>
      <tr class="tr-<%= cycle("odd", "even") %> particular" id="particular<%=fee.id %>" >
        <td class="col-1 particular_index normal_font"><%= i+=1 %></td>
        <td class="col-2 normal_font"><%= fee.name %></td>
        <td class="col-6 normal_font">
          <%= precision_label fee.amount %>
        </td>
        <td class="cancel-disc cancel-color" >
          <% if particular_type.first=='Student' and fee.is_instant and @financefee.balance.to_f >0%>
            <div class="particular-or-discount-deletion" id=<%=fee.id %> finance_id=<%= @financefee.id %> render_action="<%=@target_action %>" render_controller="<%=@target_controller %>"  target_action="delete_student_particular">
              <%= ("&times") %>
            </div>
      <%#= link_to_remote ("&times"), {:url => {:controller => :finance_extensions, :action => :delete_student_particular, :id => fee.id}, :confirm => "#{t('are_you_sure_want_delete_this_transaction')}"}, {:class => "themed_text"} %>
          <% end %>
        </td>
      </tr>
    </div>
    <% total_fees += fee.amount %>
  <% end %>
<% end %>
<% unless @financefee.balance.to_f <=0 or @financefee.is_paid %>
  <tr>
    <td colspan="3" style="width:100%">
      <div class="instant-particular">
        <%= link_to_remote '+ Add Particular', :url => {:controller => "finance_extensions", :action => "new_instant_particular", :id => @financefee.id,:current_action=>@target_action,:current_controller=>@target_controller} %>
      </div>
    </td>
  </tr>
<% end %>

<script type="text/javascript">
  j('.particular-or-discount-deletion').click(function(){

    p_id=j(this).attr('id')
    fee_id=j(this).attr('finance_id')
    action=j(this).attr('target_action')
    render_action=j(this).attr('render_action')
    render_controller=j(this).attr('render_controller')
    var proceed=confirm('<%=t('delete_confirm_msg') %>');
    if (proceed) {
      j.ajax({
        url: '/finance_extensions/'+action,
        data: {id: p_id,finance_fee_id: fee_id,current_action: render_action,current_controller: render_controller}

      })
    }
    e.preventDefault();
  })
</script>