<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
  table {
    border-spacing: 0;
    border-collapse: collapse;
    }

  td, th {
    display: table-cell;
    vertical-align: inherit;
  }

  .border {
    border: 1px solid black;
    text-align: center;
  }
  .right{
    text-align: right;
  }
  .center{
    text-align: center;
  }
  .red{
    color: red;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 0px;
    border-top: 1px solid white;
  }
  .up-pad{
    padding-right: 15px;
  }
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
</style>
<% school = School.find_by_name(Configuration.get_config_value('InstitutionName')) || "" %>
<% bank_detail = BankDetail.find_by_school_id(school.id) %> 
<% sch = SchoolDetail.first.school %>
<% bnk_details =  (sch.present? && (BankDetail.find_all_by_school_id(sch.id)).present?) ? BankDetail.find_all_by_school_id(sch.id).first : "" %>
<% bank_name = bnk_details.present? ? bnk_details.bank_name : "N/A" %>
<% bank_acc  = bnk_details.present? ? bnk_details.account_no : "N/A" %>
<% total_amount_to_pay=0 %>

<%@finance_fees.group_by(&:fee_type).each do |fees|%>
  <% fees.last.each_with_index do |finance_fee, k| %>
    <%fine_amount=(finance_fee.is_paid? ? 0 : (finance_fee.is_amount? ? finance_fee.fine_amount : (finance_fee.actual_amount.to_f)*(finance_fee.fine_amount.to_f/100)))%>
    <% total_amount_to_pay=total_amount_to_pay+finance_fee.balance.to_f+fine_amount.to_f %>
  <% end %>
<% end %>


<!-- <br><br><br> -->
<br>
<div style="min-height: 1606px;">
  <% ["PARENTS COPY", "SCHOOL COPY", "BANK COPY"].each do |sheet| %>
    <div class="container border" style="width: 1100px; margin-top: 5px;">
      <table class="table">
        <tr>
          <td style="padding-left: 500px;"><%= sheet %></td>
          <td rowspan="3" class="right"><%= wicked_pdf_image_tag current_school_detail.logo,:s3=>true,:style=>:original,:timestamp=>false, :style=>"width: 105px;height: 65px;" %></td>
        </tr>
        <tr>
          <td><b>School Name</b>: <%=Configuration.get_config_value('InstitutionName'); %></td>
          
        </tr>
        <tr>
          <td>School address: <%=Configuration.get_config_value('InstitutionAddress'); %></td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table">
              <tr>
                <td class="right up-pad"  style="width: 180px;">Student Name&nbsp;&nbsp;</td>
                <td class="border" style="border: 1px solid black;" ><%= @student.full_name %></td>
                <td class="right up-pad" style="width: 207px;">Section&nbsp;&nbsp;</td>
                <td class="border" style="border: 1px solid black;"><%= @student.batch.full_name %></td>
              </tr>
              <tr>
                <td class="right up-pad">Guardian Name&nbsp;&nbsp;</td>
                <td class="border" >
                  <%= @student.guardians.first.full_name if @student.guardians.present? %>
                </td>
                <td class="right up-pad">Admission Number&nbsp;&nbsp;</td>
                <td class="border"><%= @student.admission_no %> (<%= @student.roll_number %>)</td>
              </tr>
              <tr>
                <td class="right up-pad">Invoice For&nbsp;&nbsp;</td>
                <td class="border" ><%= @date.name.capitalize %></td>
                <td class="right up-pad">Receipt #&nbsp;&nbsp;</td>
                <td class="border"><%= '%05i' % @student.id %></td>
              </tr>
            </table>
          </td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table" >
              <tr>
                <td class="center" style="border: 1px solid black;" >Start Date</td>
                <td class="center" style="border: 1px solid black;" ><b><%= @date.start_date.present? ? @date.start_date.strftime("%d-%m-%Y") : "" %></b></td>
                <td class="center red" style="border: 1px solid black;" >Due Date</td>
                <td class="center" style="border: 1px solid black;" ><b><%= @date.due_date.present? ? @date.due_date.strftime("%d-%m-%Y") : "" %></b></td>
                <td class="center" style="border: 1px solid black;" >End Date</td>
                <td class="center" style="border: 1px solid black;" ><b><%#= @date.end_date.present? ? @date.end_date.strftime("%d-%m-%Y") : "" %>
                <%= @date.bank_due_date.present? ? @date.bank_due_date.strftime("%d-%m-%Y") : "" %></b></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table">
              <tr>
                <td></td>
                <td><b>Fee Particulars:</b></td>
                <td></td>
                <td><b>Discounts:</b></td>
                <td style="width: 225px;">
                  <b><%= "Arrears:" unless params["arrears"] == "0" %></b>
                </td>
              </tr>

              <% fees_list = {} %>
              <% discount_list = {} %>
              <% arrears = {} %>      
              <% t_discount = 0 %>
              <% @discounts.each_with_index do |d, i| %>
                <% if d.master_receiver_type=='FinanceFeeParticular' %>
                    <% net_amount=d.master_receiver.amount %>
                    <% discount_name= d.is_amount == false ? "#{shorten_string(d.name, 20)}-#{d.discount}%(#{d.master_receiver.name})" : "#{shorten_string(d.name, 20)}(#{d.master_receiver.name})" %>
                <% else %>
                    <% discount_name= d.is_amount == false ? "#{shorten_string(d.name, 20)}(#{d.discount}%)" : shorten_string(d.name, 20) %>
                    <% net_amount=@total_payable %>
                <% end %>
                <% discount_list[i] = {"name" => discount_name, "amount" => precision_label(net_amount * d.discount.to_f/ (d.is_amount? ? net_amount : 100)) } %>
                <% t_discount += (net_amount * d.discount.to_f/ (d.is_amount? ? net_amount : 100)) %>
                <%#= discount_name %>
                <%#= precision_label(net_amount * d.discount.to_f/ (d.is_amount? ? net_amount : 100)) %>
              <% end %>

              <% total_fee_particulars = 0 %>
              <% @fee_particulars.each_with_index do |fee,i| %>
                <% total_fee_particulars += fee.amount %>
                <% fees_list[i] = {"name" => fee.name, "amount" => "#{precision_label(fee.amount.to_s)}" } %>
              <% end %>
              
              <% i = 0 %>
              <% total_arrears = 0 %>
              <% @student.finance_fees.reverse.each do |f| %>
                <% if f.balance.to_i > 0 && (f.finance_fee_collection.name != @date.name.capitalize) %>
                  <% arrears[i] =  {"name" => f.finance_fee_collection.name , "amount" => precision_label(f.balance.to_f) } %>
                  <% total_arrears += f.balance%>
                  <% i += 1 %>
                <% end %>
              <% end %>
              <% (0..5).to_a.each do |a| %>
                <tr>
                  <td class="right" ><%= fees_list[a]["name"] if (fees_list[a] && fees_list[a]["name"]) %>&nbsp;&nbsp;</td>
                  <td class="border" style="border: 1px solid black;"><%= fees_list[a]["amount"] if (fees_list[a] && fees_list[a]["amount"]) %></td>

                  <% if [0,1,2,3].include? a %>
                    <td class="right" style="width: 258px;"><%= (discount_list[a] && discount_list[a]["name"] ) ? discount_list[a]["name"] : "" %>&nbsp;&nbsp;</td>
                    <td class="border" style="border: 1px solid black;"><%= (discount_list[a] && discount_list[a]["amount"]) ?  discount_list[a]["amount"] : "." %></td>
                  <% else %>
                    <% if a == 4 %>
                      <td>.</td>
                      <td><b>Fine</b></td>
                    <% else %>
                      <td class="right">Total Fine&nbsp;&nbsp;</td>
                      <% unless params["arrears"] == "0" %>
                        <% t_fine = total_amount_to_pay.to_f - (total_fee_particulars.to_f + total_arrears.to_f - t_discount.to_f )  %>
                        <% t_fine = t_fine < 1 ? "-" : t_fine %>
                      <% end %>
                      <td class="border" style="border: 1px solid black;"><%= t_fine %><%#= @fine.to_f %></td>
                    <% end %>
                  <% end %>

                  <td class="right">
                    <% unless params["arrears"] == "0" %>
                      <% if a == 5 %>
                        <b>Total: <%= precision_label(total_arrears) %></b>
                      <% else %>
                        <%= "#{arrears[a]["name"]}: #{arrears[a]["amount"]}" if (arrears[a] && arrears[a]["amount"]) %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>

            </table>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <table class="table">
              <tr>
                <td class="center"  style="border: 1px solid black;">Bank Name</td>
                <td class="center" style="width: 350px; border: 1px solid black;"><%= bank_name %></td>
                <td class="center" style="border: 1px solid black;"><b>TOTAL BEFORE DUE DATE</b></td>
                <td class="center red" style="border: 1px solid black;"><b>TOTAL AFTER DUE DATE</b></td>
              </tr>
              <tr>
                <td class="center" style="border: 1px solid black;">Account</td>
                <td class="center" style="border: 1px solid black;"><%= bank_acc %></td>
                <% unless params["arrears"] == "0" %>
                  <td class="center" style="border: 1px solid black;">
                    <% std = @s.find_by_id @student.id %>
                    <% last =  precision_label( std.present? ? std.balance : 0 ) %>
                    <!-- <b><%#= last  %></b> -->
                    <b>
                      <% unless precision_label(total_amount_to_pay).to_f == 0 %>
                        <%= precision_label(total_amount_to_pay.to_f) %>
                      <% else %>
                        <%= precision_label(0) %>
                      <% end %>
                    </b>
                  </td>
                  <td class="center" style="border: 1px solid black;">
                    <b><%= precision_label((total_amount_to_pay.to_f == 0) ? 0 : (total_amount_to_pay.to_f + 100))  %></b>
                  </td>
                <% else %>
                  <td class="center" style="border: 1px solid black;">
                    <b><%= (total_fee_particulars - t_discount.to_f) %></b>
                  </td>
                  <td class="center" style="border: 1px solid black;">
                    <b><%= total_fee_particulars < 1 ? 0 : (total_fee_particulars - t_discount.to_f + 100) %></b>
                  </td>
                <% end %>
              </tr>
            </table>
          </td>
        </tr>
      </table>    
    </div>
    <!-- <hr> -->
  <% end %>
</div>

