<label class="head_label"><%= "#{t('create_text')} #{t('discount')}" %><span></span></label>



<div id="grading-levels-form">

  <% form_remote_for :fee_discount,
                     :url => {:action => 'create_instant_discount',
                              :id => @financefee.id,:target_action=>@target_action,:target_controller=>@target_controller} do |form| %>
      <%=form.hidden_field :receiver_type,:value=>'Student'%>
      <%=form.hidden_field :receiver_id,:value=>@financefee.student_id%>
      <%=form.hidden_field :batch_id,:value=>@financefee.batch_id%>
      <%=form.hidden_field :finance_fee_category_id ,:value=> @finance_fee_category.id %>
      <%=form.hidden_field :is_deleted,:value=>true%>
      <%=form.hidden_field :is_instant,:value=>true%>

      <div id="form-errors"></div>

      <div class="label-field-pair">
        <div class="label-container"><label><%= "#{t('name')}" %><span class="necessary-field">*</span></label></div>
        <div class="input-container"><%= form.text_field :name %></div>
      </div>
      <div class="label-field-pair">
        <div class="label-container">
          <label ><%= t('discount_type') %></label></div>
        <div class="input-container">
          <label class="label_for_gender" for="is_amount_false"> <%= t('percentage') %></label>
          <%= form.radio_button  :is_amount, false, :checked => "checked" ,:class=>"mode_radio amount_radio"%>
          <label class="label_for_gender" for="is_amount_true"><%= t('amount') %></label>
          <%= form.radio_button  :is_amount, true ,:class=>"mode_radio percentage_radio"%>
        </div>
      </div>
      <div class="label-field-pair">
        <div class="label-container"><label><%= "#{t('amount')}" %><span class="necessary-field">*</span></label></div>
        <div class="input-container"><%= form.text_field :discount , :class => 'precision_text width-50',:id => 'discount_amount'%><div class="post-symbol">%</div></div>
      </div>


      <div class="extender"></div>
      <div id="submit-button">
        <%= submit_tag "► #{t('create_text')}", :class => 'modal-box-submit_button', :disable_with => "► #{t('create_text')}" %>
      </div>
  <% end %>
</div>

<script type="text/javascript">
    j(document).delegate('.percentage_radio', 'click', function () {
        j('#discount_amount').removeClass('width-50')
        j('.post-symbol').text('<%=currency %>')
        j('#discount_amount').addClass('width-130')
        j('#all_students').html()
    })
    j(document).delegate('.amount_radio', 'click', function () {
        j('#discount_amount').removeClass('width-130')
        j('.post-symbol').text('%')
        j('#discount_amount').addClass('width-50')
        j('#all_students').html()
    })
    j(document).delegate('.modal-box-submit_button', 'click', function () {
        j(this).attr('disabled',true)
        j('.modal-box-submit_button').val('<%=t('please_wait') %>')
        })

</script>